{% extends "generator/base.html" %}

{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">
{% endblock style %}


{% block content %}


<div id="main">
    <div class="header">
        <h1>DevCommunity</h1>
    </div>


    <div class="ask_question_container">
        <h1>Ask Question</h1>
        <div class="question_card">
            <form method="post" action="" id="add_form" enctype="multipart/form-data">
                {% csrf_token %}
                <label for="name">Your Name</label>
                <input type="text" name="name" id="name" required placeholder="Enter Your Name">

                <label for="title">Question Title</label>
                <input type="text" name="title" id="title" required placeholder="Title">

                <label for="tag">Add Tags</label>
                <div>
                    <button id="button" type="button" onclick="clear_tags()">Clear</button>
                    <div class="tags" id="question_tag">
                    
                    </div>
                    <input type="hidden" name="tags" id="tag_input">
                </div>
                <select id="Tag" oninput="add_tag(this)">
                    {% for tag in all_tags %}
                      <option value="{{tag.name}}">{{tag.name}}</option>
                    {% endfor %}
                </select>

                <input type="hidden" name="content_json" id="contentJson">
                <div class="btns">
                    <button type="button" onclick="add_text()">Add Text</button>
                    <button type="button" onclick="add_code()">Add Code</button>
                    <button type="button" onclick="add_img()">Add Image</button>
                </div>

                <div id="form_content">

                </div>

                <button type="button" onclick="submit_form()">Ask</button>
            </form>
        </div>
    </div>

    <footer>
        <p>Turki Ahmed</p>
    </footer>
</div>
{% block js %}

<script>

    form_content = document.querySelector('#form_content');

    function remove_el(el) {
        el.parentElement.remove()
    }

    function createWrapper() {
        div = document.createElement('div')
        span = document.createElement('span')
        span.setAttribute('onclick', 'remove_el(this)')
        x = document.createTextNode('✕')
        span.appendChild(x)
        div.appendChild(span)

        return div
    }

    function add_code() {
        div = createWrapper()
        div.setAttribute('id', 'code')
        textarea = document.createElement('textarea')
        textarea.setAttribute('name', 'code')
        textarea.setAttribute('placeholder', 'Write Code Here')
        textarea.setAttribute('id', 'code')
        div.appendChild(textarea)
        form_content.appendChild(div)
    }

    function add_text() {
        div = createWrapper()
        div.setAttribute('id', 'text')
        textarea = document.createElement('textarea')
        textarea.setAttribute('name', 'text')
        textarea.setAttribute('placeholder', 'Write text Here')
        textarea.setAttribute('id', 'text')
        div.appendChild(textarea)
        form_content.appendChild(div)
    }

    function add_img() {
        div = createWrapper()
        div.setAttribute('id', 'img')
        input = document.createElement('input')
        input.setAttribute('type', 'file')
        input.accept = 'image/*';
        div.appendChild(input)

        form_content.appendChild(div)
    }

    function toBase64(file) {
        return new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = () => resolve(reader.result); // يحتوي على "data:image/png;base64,..."
            reader.onerror = reject;
        });
    }


    async function submit_form() {
        all = form_content.children
        obj_list = []
        order = 0
        for (i = 0; i < all.length; i++) {
            if (all[i].id == 'text') {
                temp = {
                    'type': 'text',
                    'value': all[i].lastChild.value,
                    'order': order++
                }
                obj_list.push(temp)
            }
            if (all[i].id == 'code') {
                temp = {
                    'type': 'code',
                    'value': all[i].lastChild.value,
                    'order': order++
                }
                obj_list.push(temp)
            }
            if (all[i].id == 'img') {
                let file = all[i].lastChild.files[0];
                if (file) {
                    let base64 = await toBase64(file);
                    obj_list.push({
                        type: 'img',
                        value: base64,
                        order: order++
                    });
                }
            }
        }

        all_tags = []
        
        ch = document.querySelector('#question_tag').children
        for(i = 0; i < ch.length; i++) {
            all_tags.push(ch[i].textContent.trim())
        }
        document.getElementById('tag_input').value = JSON.stringify(all_tags)
        document.getElementById('contentJson').value = JSON.stringify(obj_list)
        document.getElementById('add_form').submit()
    }

    $(document).ready(function() {
        $('#Tag').select2({
            placeholder: "Select a Tag",
            allowClear: true
        });
    });

    function add_tag(el){
        console.log(el.value)
        document.querySelector('#question_tag').innerHTML += `
        <a href="">${ el.value} </a>
        `;
    }

    function clear_tags(){
        document.querySelector('#question_tag').innerHTML = "" 
    }
</script>


{% endblock js %}

{% endblock content %}